<div ng-controller="NavCtrl">
  <ul class="nav nav-pills nav-stacked">
    <li>
      <a href="#/">Home</a>
    </li>
    <hr>
    <li>
      <a ng-href="#/new/post">New</a>
    </li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li ng-repeat="schema in schemas">
          <a ng-href="#/new/{{ schema }}">New {{ schema | singularize }}</a>
        </li>
      </ul>
    </li>
    <hr>
    <li>
      <a href="#/drafts">Drafts</a>
    </li>
    <li>
      <a href="#/search">Search</a>
    </li>
    <li>
      <a href="#/sync">Sync</a>
    </li>
    <li>
      <a href="#" ng-click="clear()">Clear</a>
    </li>
  </ul>
  <div ng-repeat="(category, count) in categories">
    <hr ng-show="$first">
    <a href="#/{{ category }}">@{{ category }} ({{ count }})</a>
  </div>
  <div ng-repeat="(tag, count) in tags">
    <hr ng-show="$first">
    <a href="#/tag/{{ tag }}">#{{ tag }} ({{ count }})</a>
  </div>
</div>
