<div class="row">
  <div class="col-md-12">
    <form name="post">
      <div ng-repeat="field in schema.fields" class="form-group">
        <label>{{ field.label }}</label>
        <div ng-switch="field.type" ng-init="typeahead[field.model] = []">
          <input
            ng-switch-when="input"
            class="form-control"
            type="text"
            typeahead="obj.key for obj in typeahead[field.model] | filter:$viewValue"
            ng-model="post[field.model]"
            ng-init="post[field.model] = post[field.model] || defaults[field.model]">
          <textarea 
            ng-switch-when="textarea"
            class="form-control"
            ng-model="post[field.model]"
            style="height: 250px;"></textarea>
          <div 
            ng-switch-when="timepicker"
            class="well well-small"
            style="display:inline-block;"
            ng-model="post[field.model]">
            <timepicker></timepicker>
          </div>
          <input
            ng-switch-when="datepicker"
            type="text" 
            datepicker-popup="shortDate" 
            ng-model="dt" 
            datepicker-options="dateOptions" 
            date-disabled="disabled(date, mode)"
            show-weeks="false"
            ng-required="true" 
            close-text="Close">
          </div>
        </div>
      </div>
      
      <button class="btn btn-info" ng-click="draft(post)">Draft</button>
      <button class="btn btn-primary" ng-click="publish(post)">Publish</button>
      <button class="btn pull-right" ng-click="delete(post)" ng-show="post._id">Delete</button>
    </form>
  </div>
</div>