<div class="row">
  <div class="col-md-12">
    <h1>
      <a ng-href="#/{{ category || post.type }}/{{ post._id }}" ng-bind-html="post[schema.primary]"></a>
    </h1>
    <div ng-repeat="field in schema.fields">
      <div ng-switch="field.model" ng-hide="field.model === schema.primary">
        <img ng-src="{{ post.src }}" ng-switch-when="src" title="{{ post[schema.primary] }}">
        <p ng-switch-when="href">
          <a ng-href="{{ post.href }}">{{ post.href }}</a>
        </p>
        <div ng-bind-html="post.text | markdown" ng-switch-when="text"></div>
        <p ng-switch-when="author">
          <span ng-show="post.author">By {{ post.author }}</span>
        </p>
        <p ng-switch-when="category">
          <a ng-href="#/{{ post.category }}">@{{ post.category }}</a>
        </p>
        <p ng-switch-when="tags">
          <a ng-repeat="tag in post.tags" ng-href="#/tag/{{ tag }}">#{{ tag }} </a>
        </p>
      </div>
    </div>
    <hr>
    <p>
      Published {{ post.created_at | date }}
      <span ng-show="post.modified_at">
        |
        Edited {{ post.modified_at | date }}
      </span>
    </p>
    <p>
      <a ng-href="#/{{ post.type }}/{{ post._id }}/edit">Edit</a>
    </p>
  </div>
</div>