<div class="row">
  <div class="col-md-12">
    <header>
      <h1>Sync with a Remote Database</h1>
    </header>

    <div class="form-group">
      <label>Target</label>
      <p class="label-warning" ng-show="error">{{ error }}</p>
      <input class="form-control" type="text" ng-model="target">
    </div>

    <button class="btn btn-primary" ng-click="from(target)">Replicate From Target</button>
    <button class="btn btn-primary" ng-click="to(target)">Replicate To Target</button>

    <div ng-show="success">
      <h3>Great! Replication in progress...</h3>
      <p>We'll redirect you to the homepage when it's done.</p>
    </div>
    
  </div>
</div>