<div ng-controller="NavCtrl">
  <ul class="nav nav-pills nav-stacked">
    <li>
      <a href="#/">Home</a>
    </li>
    <li>
      <a href="#/new">New</a>
    </li>
    <li>
      <a href="#/drafts">Drafts</a>
    </li>
    <li>
      <a href="#/search">Search</a>
    </li>
    <li>
      <a href="#/sync">Sync</a>
    </li>
  </ul>
  <hr>
  <div ng-repeat="category in categories">
    <a href="#/{{ category.key }}">@{{ category.key }} ({{ category.value }})</a>
  </div>
  <hr>
  <div ng-repeat="tag in tags">
    <a href="#/tag/{{ tag.key }}">#{{ tag.key }} ({{ tag.value }})</a>
  </div>
</div>
