<div class="row">
  <div class="col-md-12">
    <form>
      <div class="form-group">
        <label>Title</label>
        <input class="form-control" type="text" ng-model="post.title">
      </div>
      <div class="form-group">
        <label>Body</label>
        <textarea class="form-control" ng-model="post.text" style="height: 500px;"></textarea>
      </div>
      <button class="btn btn-info" ng-click="draft(post)">Draft</button>
      <button class="btn btn-primary" ng-click="publish(post)">Publish</button>
      <button class="btn pull-right" ng-click="delete(post)" ng-show="post._id">Delete</button>
    </form>
  </div>
</div>