<div class="row">
  <div class="col-md-12">
    <form>
      <div ng-repeat="field in schema.fields" class="form-group">
        <label>{{ field.label }}</label>
        <div ng-switch="field.type">
          <input
            ng-switch-when="input"
            class="form-control"
            type="text"
            typeahead="obj for obj in typeahead[field.model]"
            ng-model="post[field.model]">
          <textarea 
            ng-switch-when="textarea"
            class="form-control"
            ng-model="post[field.model]"
            style="height: 250px;"></textarea>
          <div 
            ng-switch-when="timepicker"
            class="well well-small"
            style="display:inline-block;"
            ng-model="post[field.model]">
            <timepicker></timepicker>
          </div>
          <div
            ng-switch-when="datepicker"
            class="well well-small"
            style="display:inline-block;"
            ng-model="post[field.model]">
            <datepicker></datepicker>
          </div>
        </div>
      </div>
      
      <button class="btn btn-info" ng-click="draft(post)">Draft</button>
      <button class="btn btn-primary" ng-click="publish(post)">Publish</button>
      <button class="btn pull-right" ng-click="delete(post)" ng-show="post._id">Delete</button>
    </form>
  </div>
</div>